* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 14px;
  line-height: 21px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 15px;
}

.is-dark {
  background-color: $noir;
  color: $blank;
}