.form {
  display: block;
  width: 100%;
  &-group {
    margin-bottom: 15px;
  }
  &-control {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    padding: 6px 12px;
    border: 1px solid $smoke;
    border-radius: 4px;
    width: 100%;
    &:active,
    &:hover {
      border-color: $sea;
    }
    &:focus {
      border-color: $sea;
      box-shadow: 0 0 0 3px $sky;
      outline: 0;
    }
    &.is {
      &-large {
        font-size: 24px;
        line-height: 32px;
        padding: 12px 24px;
      }
      &-search {
        background-image: url('images/search.svg');
        background-position: calc(100% - 24px) 13px;
        background-repeat: no-repeat;
        background-size: 30px;
        padding-right: 70px;
      }
    }
  }
}