.container {
  max-width: $v-md;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &-item {
    flex: auto;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-item--box {
    flex: none;
    width: 20%;
    height: 200px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media (max-width: $v-sm) {
      width: 50%;
      height: 150px;
    }
    img {
      width: 200%;
      height: auto;
    }
    h4 {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 10px;
      color: $blank;
    }
  }
  &.is {
    &-100 {
      min-height: 100vh;
    }
    &-middle {
      align-items: center;
    }
  }
}