.toggle {
  display: inline-block;
  border: 1px solid $smoke;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  &-text {
    span {
      display: inline-block;
      padding: 4px 8px;
      &:first-child {
        background-color: $kiwi;
        color: $blank;
      }
      &:last-child {
        background-color: $blank;
        color: $noir;
      }
    }
  }
  &.is-checked {
    span {
      &:first-child {
        background-color: $blank;
        color: $noir;
      }
      &:last-child {
        background-color: $kiwi;
        color: $blank;
      }
    }
  }
}