@mixin typography($size) {
  @for $i from 1 through length($size) {
    $s: ($i+1)*2;
    $lineHeight: nth($size, $i) + $s;
    @each $prop, $abbrev in (reg: 400, smb: 500, str: 700) {
      .u-#{$prop}-#{nth($size, $i)} {
        font-size: #{nth($size, $i)}px;
        font-weight: #{$abbrev};
        line-height: #{$lineHeight}px;
      }
    }
  }
}
@include typography($font-size);