$alignment: left, center, right;
$spaces: 12;

@mixin align($n) {
  @for $i from 1 through length($n) {
    .text-#{nth($n, $i)} {
      text-align: #{nth($n, $i)};
    }
  }
} @include align($alignment);

@mixin spacing($spacing) {
  @while $spacing <= $spaces {
      $value: $spacing*5+px; 

      @each $prop, $abbrev in (margin: m, padding: p) {
          .#{$abbrev}-#{$spacing*5} { #{$prop}: $value; }
          .#{$abbrev}x-#{$spacing*5} { #{$prop}: 0 $value; }
          .#{$abbrev}y-#{$spacing*5} { #{$prop}: $value 0; }
          .#{$abbrev}t-#{$spacing*5} { #{$prop}-top: $value; }
          .#{$abbrev}l-#{$spacing*5} { #{$prop}-left: $value; }
          .#{$abbrev}b-#{$spacing*5} { #{$prop}-bottom: $value; }
          .#{$abbrev}r-#{$spacing*5} { #{$prop}-right: $value; }
      }

      $spacing: $spacing + 1;
  }
} @include spacing(0);