// color
$kiwi: #239f95;
$sunkist: #fabc74;
$orange: #eb5f5d;
$apple: #bb1542;

$noir: #222222;
$slate: #777777;
$smoke: #dddddd;
$blank: #ffffff;

$sea: #248ea9;
$sky: #aee7e8;

// font-size
$font-size: 12, 14, 18, 21, 24, 26;

// resolution
$v-xxs  : 554px;
$v-xs   : 767px;
$v-sm   : 992px;
$v-md   : 1200px;
$v-lg   : 1400px;
$v-xl   : 1600px;
$v-xxl  : 2100px;